sudo: false

language: node_js

node_js:
  - "7"
  - "6"

os:
  - linux

addons:
  apt:
    packages:
      - libsecret-1-dev
      - dbus
      
before_install:
  - dbus-uuidgen > /etc/machine-id
  - if [ $TRAVIS_OS_NAME == "linux" ]; then
      export CXX="g++-4.9" CC="gcc-4.9" DISPLAY=:99.0;
      sh -e /etc/init.d/xvfb start;
      sleep 3;
    fi

install:
  - npm install

script:
  - npm test
