:import {
    -st-from: "../mixins/my-mixins.ts";
    -st-named: paramlessMixin, paramfulMixin, notARealMixin;
}

:import {
    -st-from: "../mixins/js-mixins.js";
    -st-named: aMixin, aBareMixin, aFormatter;
}

.local {
    color: notARealMix|in();
    background-color: aFormatter(a,b,45);
}
