:import {
    -st-from: "./states-import.st.css";
    -st-default: Fompl;
}

.root Fompl:rootState {}

.root Fompl:rootState::one:topState {}

.root Fompl::two:topState {}

.local {
    -st-extends: Fompl;
    -st-states: extendState
}

.local:rootState:extendState {}

.local::one:topState {}

.local:rootState::two:topState {}

