:import {
    -st-from: "./states-import.st.css";
    -st-default: Gompl;
}


.root Gompl:rootState {}

.root Gompl::one:topState {}

.root Gompl::two:topState {}

.local {
    -st-extends: Gompl;
    -st-states: extendState
}

.local:rootState:extendState {}

.local::one:topState {}

.local::two:topState {}
