:import {
    -st-from: "./import.st.css";
    -st-named: shlomo, momo;
    -st-default: Comp;
}

.gaga {
    -st-extends: Comp;
    -st-states: blah(enum(blah, bleh, blih));
    color: rgb(var(b))
}

.gaga:blah() {

}
