/* :import {
    -st-from: "./import.st.css";
    -st-named: shlomo, momo;
    -st-default: Comp;
} */

:import {
    -st-from: "fake-stylable-package/stylesheet.st.css";
    -st-default: Comp2;
    -st-named: part1;
}

.blah {
    -st-extends: part1;
}

.blah:

.gaga {
    -st-extends: Comp;
    -st-states: blah(enum(blah, bleh, blih));
    color: rgb(var(b))
}

.gaga:blah() {

}
