.shlomo {
    color: black;
}

.momo {
    -st-states: anotherState,oneMoreState;
}

.root {
    -st-states : state,otherState;
}

:vars {
    topVar: goldenrod;
}

.loc {
    color: value(topVar);
}

