:import {
    -st-from: './recursive-import-1.st.css';
    -st-default: Bongo;
}

@custom-selector :--bongo .root Bongo;

@custom-selector :--mongo .root Bongo;

.local {
    -st-extends: Bongo;
}

.local:state

