.local {
    color: red;
    -st-states: Nordrhein, Westfalen;
}

:vars {
    one: fuchsia;
    two: goldenrod;
}

.gaga .root {
    color: bisquelk;
}

:import {
    -st-from: "./import.st";
}
 .local {}

