:import {
    -st-from: "./my-mixins.ts"; /* "jkdj */
    -st-named: paramlessMixin, paramfulMixin;
}

:import {
    -st-from: "./my-mixins.js";
    -st-named: aMixin, aBareMixin;
}

.myClass {
    -st-mixin: aMixin('as','45','a')
}

