
:import {
    -st-from:"./import.st.css";
    -st-default:Comp;
}

.gaga{
    -st-extends:Comp;
    -st-states:bover;
    border: solid;
}

:vars {
    color1: red;
}

@custom-selector :--oryory div > Comp;

@custom-selector :--ogiogi div > Comp;

.oryory div {
    color: red;
}
